if SHIELD_WHIPLAESH_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING
    default y

config SPI
    default y

endif

if SHIELD_WHIPLAESH_LEFT || SHIELD_WHIPLAESH_RIGHT

config ZMK_KEYBOARD_NAME
    default "Whiplaesh"

config ZMK_SPLIT
    default y

endif